ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2d2d2d;
    position: sticky;
    top: 0;
    opacity: 100%;
    z-index: 1
}

#map {
    flex: 1;
    height: 300px;
    z-index: 0;
}

.abschnitt {
    padding-top: 30px; /* Ändern Sie diesen Wert entsprechend der Höhe Ihrer Navigationsleiste */
 }
 
.site-container {
   margin-bottom: 5000px; /* Ändern Sie diesen Wert entsprechend der gewünschten Pixelanzahl */
}

 li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #636363;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    /* background-image: url('Bilder/background_karton.jpg'); */
    --background-color: rgba(236, 220, 202, 1);
    background-color: var(--background-color);
}

header {
    width: 100%;
    height: 600px;
    /* Passe die Höhe entsprechend deiner Bedürfnisse an */
    background-image: url('Bilder/ringe.jpg');
    /* Passe den Bildpfad an */
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 80%, var(--background-color)), url('Bilder/ringe.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 60px;
    /* margin-top: -100px; */
    color: black;
}

header p {
    font-size: 1.5em;
    /* margin-bottom: -20px; */
}

header b {
    letter-spacing: 1px;
    /* Vergrößert den Abstand zwischen den Buchstaben für bessere Sichtbarkeit */
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    /* Fügt die schwarze Umrandung hinzu */
    font-size: 1.5em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

/* Timeline Container */
.timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
}

/* Card container */
.card {
    position: relative;
    max-width: 550px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}

.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}

/* Global ::before */
.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid black;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    background: #333;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

/* Title of the card */
.title {
    color: white;
    position: relative;
}

.title_02 {
    color: white;
    position: relative;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid black;
}

/* text right if the card is even  */
.card:nth-child(even)>.info>.title {
    text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd)>.info>.title::before {
    left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even)>.info>.title::before {
    right: -45px;
}

/* text right if the card is even  */
.card:nth-child(even)>.info>.title_02 {
    text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd)>.info>.title_02::before {
    left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even)>.info>.title_02::before {
    right: -45px;
}

.circle-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    /* Rundet die Ecken, um einen Kreis zu erstellen */
    /* margin: 20px; */
    background-color: white;
    border: 3px solid black;
}

.circle-container img {
    width: 100%;
    /* Füllt den Container mit dem Bild */
    height: auto;
    /*border-radius: 100%; Rundet die Ecken des Bildes, um es im Kreis darzustellen */
}
.pic-and-text{
    text-align: center;
}

.red-marker {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.blue-marker {
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.green-marker {
    background-color: green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.image-container-trauzeugen {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}